<h1>Editar publicacion</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Ver publicacion", @post, class: 'btn btn-success' %> |
  <%= link_to "Volver a publicaciones", posts_path, class: 'btn btn-secondary' %>
</div>
